@media (max-width: 576px) {
  .espaciador {
    height: 15vh; } }

@media (min-width: 992px) {
  .espaciador {
    height: 70vh; } }

.btn-facebook {
  background-color: #405D9D;
  color: white; }

.btn-twitter {
  background-color: #42AEEC;
  color: white; }

.sections_margin {
  margin-top: 80px;
  margin-bottom: 80px; }

._btn {
  color: white;
  font-family: Montserrat;
  font-style: italic;
  text-decoration: none !important; }

._btn2 {
  color: #FFD700;
  font-family: Montserrat;
  font-style: italic;
  text-decoration: none !important; }

.header_logo {
  text-align: center;
  font-size: 90px;
  font-weight: 900;
  text-decoration: none !important; }

.Body_background {
  background-image: url("../img/maybe_backgroundfinal.jpeg"); }

.Footer_btn_size {
  font-weight: 900;
  font-size: 30px;
  text-align: center; }

.Nav_Contacto {
  font-weight: 700;
  font-size: 20px; }

.Footer_align {
  text-align: center; }

.Navs_transform:hover {
  transition: all 1s;
  color: #FFD700; }

.Navs_logo_transform:hover {
  transition: all 1s;
  color: #FFD700; }

.img_position {
  display: flex;
  justify-content: center; }

.img_sizing {
  max-width: 65%;
  height: auto; }

.img_radius {
  border-radius: 50% !important; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.flexfooter_color {
  background-color: rgba(0, 0, 0, 0.89);
  width: 100%;
  max-width: 100%; }
