@import "colores" ; 
@import "mediasQ" ;  
@import "botonstyle";




.btn-facebook {
    background-color:$boton-facebookB-color;
    color: $navs-texto-color;
}
.btn-twitter {
    background-color: $boton-twitterB-color;
    color: $navs-texto-color;
}
.sections_margin {margin-top: 80px; margin-bottom: 80px;}
.Text_Titulo_styling {font-family: Montserrat; font-style: italic; font-weight: 600; font-size: 45px;}
.Text_main_styling { font-family: Montserrat; font-weight: normal; font-size: 25px;}
.Text_sub_styling { font-family: Montserrat; font-weight:900px; font-size: 15px;}
.sections_margin2 {margin-top: 80px; margin-bottom: 87px;}
.footer_section_styling {background-color:$navs-transform-color;}
._btn {color:$navs-texto-color; font-family: Montserrat; font-style: italic; text-decoration: none!important; }
._btn2 {color:$navs-transform-color; font-family: Montserrat; font-style: italic; text-decoration: none!important; }
.header_logo {text-align: center; font-size: 90px; font-weight: 900; text-decoration: none!important;}
.Body_background {background-image: url("../img/maybe_backgroundfinal.jpeg"); height: 35vh;}
.Footer_btn_size { font-weight: 900; font-size: 30px; text-align: center;}
.Nav_Contacto {font-weight:700; font-size: 20px;}
.Footer_align { text-align: center;}
.Navs_transform:hover {transition: all 1s; color:$navs-transform-color;}
.Navs_logo_transform:hover {transition: all 1s; color: $navs-transform-color;}
.img_position {
    display: flex;
    justify-content: center;
}
.img_sizing {
        max-width: 65%;
        height: auto;
      }

.img_radius {
    border-radius: 50% !important;
}
.container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;

    }

.container_padding {
    padding: 60px;
}

.flexfooter_color { background-color:rgba($color: #000000, $alpha: 0.89); width: 100%; max-width: 100%;}

.container_position {
    display: flex;
  justify-content: center;
}





